<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>left sidebar</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<style>
 .header{
  display:flex;
  border:1px solid gray;
  padding: 35px 70px 35px 350px;
  background-color: gray;
  color: white;
  align-items:center;
 }
 .home{
  flex:1;
 }

.link{
color:white;
}
.img{
 padding:35px 95px;
 text-align: center;
 position:relative;
}
.img{
 display:inline-block;
 }
.img::after{
 content: '';
    color: gray;
    border-bottom: 5px solid gray;
    width: 20%;
    position: absolute;
    top: 70px;
    right: -145px;
}
.img::before{
 content: '';
    color: gray;
    border-bottom: 5px solid gray;
    width: 10%;
    position: absolute;
    top: 69px;
    left: 8px;
}
 .ls{
  flex:1; 
  }
  .subheading{
  margin: 1px solid gray;
  padding: 10px;
  }
.footer1{
  flex: 1; 
  }
.footer2{
  flex: 1; 
  padding: 30px 20px 30px 80px;
  font-size: 20px;  
  }
</style>
</head>
<body>
<div>
<div class="header">
<div class="home"><a href="file:///D:/course/basics_of_html/Homepage_Layout.html" class="link">HOME</a></div>
<div class="home">DROPDOWN</div>
<div class="home"><a href="file:///D:/course/basics_of_html/Right_Sidebar.html" class="link">RIGHT SIDEBAR</a></div>
<div class="home"><a href="file:///D:/course/basics_of_html/Left_Sidebar.html" class="link">LEFT SIDEBAR</a></div>
<div class="home"><a href="file:///D:/course/basics_of_html/No_Sidebar.html" class="link">NO SIDEBAR</a></div>
</div>
<div class="img"><img src="D:\course\basics_of_html\achieversIT_image.png" alt="image"/>
<h2 style="display:inline-block; color:gray;">A RESPONSIVRE TEMPLATE SITR BY ACHIEVERSIT</h2>
</div>
<div style="border:10px solid #98FB98;">  
</div>
<div style="display:flex;">
<div class="ls">
<h3>RECENT POSTS</h3>
<div class="subheading">subheading<hr style="padding:1px;"></div>
<div class="subheading">subheading<hr style="padding:1px;"></div>
<div class="subheading">subheading<hr style="padding:1px;"></div>
<div class="subheading">subheading<hr style="padding:1px;"></div>
<div><button style="background-color:gray; padding: 5px;">ARCHIVES</button></div>
<h3 align="center" style="padding:30px 10px 5px;">IPSUM DOLORE</h3>
<img src="D:\course\basics_of_html\plane_image.jfif" alt="plane image"/>
<p>A paragraph in Word is any text that ends with a hard return. You insert a hard return anytime you press the Enter key. Paragraph formatting lets you control the appearance if individual paragraphs. For example, you can change the alignment of text from left to center or the spacing between lines form single to double.
<div><button style="background-color:gray; padding: 5px;">LEARN MORE</button></div>
<h3 align="center" style="padding:30px 10px 5px;">MAGNA FEUGIT</h3>
<p>A paragraph in Word is any text that ends with a hard return. You insert a hard return anytime you press the Enter key. Paragraph formatting lets you control the appearance if individual paragraphs. For example, you can change the alignment of text from left to center or the spacing between lines form single to double.
<div><button style="background-color:gray; padding: 5px;">LEARN MORE</button></div>
</div>
<div style="flex:4;">
<h1 style="padding: 20px;">LEFT SIDEBAR</h1>
<h3 style="color:gray; padding: 20px;">SEMPER AMET SCELERISQUE METUS FAUCIBS MORBI CONGUE MATTIS</h3>	
<img src="D:\course\basics_of_html\plane_image.jfif" alt="image" width="90%" style="padding: 30px;"/>
<p style="padding: 20px;">A paragraph in Word is any text that ends with a hard return. You insert a hard return anytime you press the Enter key. Paragraph formatting lets you control the appearance if individual paragraphs. For example, you can change the alignment of text from left to center or the spacing between lines form single to double.
<h3 style="padding: 20px;">MORE INTRIGUING INFORMATION</h3>
<p style="padding: 20px;">A paragraph in Word is any text that ends with a hard return. You insert a hard return anytime you press the Enter key. Paragraph formatting lets you control the appearance if individual paragraphs. For example, you can change the alignment of text from left to center or the spacing between lines form single to double.A paragraph in Word is any text that ends with a hard return. You insert a hard return anytime you press the Enter key. Paragraph formatting lets you control the appearance if individual paragraphs. For example, you can change the alignment of text from left to center or the spacing between lines form single to double.
<p style="padding: 20px;">A paragraph in Word is any text that ends with a hard return. You insert a hard return anytime you press the Enter key. Paragraph formatting lets you control the appearance if individual paragraphs. For example, you can change the alignment of text from left to center or the spacing between lines form single to double.A paragraph in Word is any text that ends with a hard return. You insert a hard return anytime you press the Enter key. Paragraph formatting lets you control the appearance if individual paragraphs. For example, you can change the alignment of text from left to center or the spacing between lines form single to double.
<h3 style="padding: 20px;">SO IN CONCLUSION..</h3>
<p style="padding: 1px;">A paragraph in Word is any text that ends with a hard return. You insert a hard return anytime you press the Enter key. Paragraph formatting lets you control the appearance if individual paragraphs. For example, you can change the alignment of text from left to center or the spacing between lines form single to double.A paragraph in Word is any text that ends with a hard return. You insert a hard return anytime you press the Enter key. Paragraph formatting lets you control the appearance if individual paragraphs. For example, you can change the alignment of text from left to center or the spacing between lines form single to double.
</div>
</div>
<h2 align="center" style="padding: 20px 10px;">MAJOR HEADING</h2>
<div style="display:flex;">
<div class="footer1"><img src="D:\course\basics_of_html\plane_image.jfif" alt="image"/></div>
<div class="footer1"><img src="D:\course\basics_of_html\plane_image.jfif" alt="image" align="center"/></div>
<div class="footer1"><img src="D:\course\basics_of_html\plane_image.jfif" alt="image"/></div>
<div class="footer1"><img src="D:\course\basics_of_html\plane_image.jfif" alt="image"/></div>
</div>
<div style="display:flex;">
<div class="footer2"><h4>SUBHEADING</h4>
<p>When you picked up the paper—yuck— lots of your paragraph stayed glued to the</div>
<div class="footer2"><h4>SUBHEADING</h4>
<p>When you picked up the paper—yuck— lots of your paragraph stayed glued to the</div>
<div class="footer2"><h4>SUBHEADING</h4>
<p>When you picked up the paper—yuck— lots of your paragraph stayed glued to the</div>
<div class="footer2"><h4>SUBHEADING</h4>
<p>When you picked up the paper—yuck— lots of your paragraph stayed glued to the</div>
</div>
<div style="display:flex; width:40%; height:15%; align-items:center; padding:20px 370px;">
<div style="flex:1;"><button style="background-color:green; padding: 5px;">DO SOMETHING</button></div>
<div style="flex:1;"><button style="background-color:#6A5ACD; padding :5px;">THINK ABOUT IT</button></div>
</div>
<div style="border: 2px solid gray; height: 60%; background-color: gray;align-items:center; text-align: center;">
<h3>WHATS THIS ABOUT</h3>
<p>A paragraph in Word is any text that ends with a hard return. You insert a hard return anytime you press the Enter key. Paragraph formatting lets you control the appearance if individual paragraphs. For example, you can change the alignment of text from left to center or the spacing between lines form single to double.A paragraph in Word is any text that ends with a hard return. You insert a hard return anytime you press the Enter key.
<h3>GET IN TOUCH</h3>
<div>
<span><i class="fab fa-facebook"></i></span>
<span><i class="fab fa-twitter-square"></i></span>
<span><i class="fab fa-github"></i></span>
</div>
</div>
</div>
</body>
</html>